---
layout: default
permalink: /
slug_name: home
---
<section>
  {% if site.posts != empty %}
    {% for post in site.posts %}
      <article>
        <aside>
          <time datetime="{{ post.date }}">{{ post.humanized_date }}</time>
        </aside>
          <header>
            <a href="{{ post.url }}" title="">{{ post.title }}</a>
          </header>
          <p class="tags">
            {% for tag in post.tags %}
              <a href="/tags/{{ tag }}">{{ tag }}</a>
            {% endfor %}
          </p>
          <div class="content">
            {{ post.excerpt}}
          </div>
          <footer>
            <a href="{{ post.url }}" title="read more">more</a>
          </footer>
      </article>
    {% endfor %}
  {% endif %}
</section>
