#logo
{
  width: 145px;
  height: 140px;
  background: url(../gfx/logo.png) no-repeat;
  margin: 40px;
}

h1
{
  font-family: MyriadProCondBold;
  font-size: 24px;
  margin-left: 40px;
  float: left;
}

h1 span
{
  font-weight: normal;
  color: #727272;
  font-family: MyriadProCondRegular;
}

nav ul
{
  list-style: none;
}

nav
{
  width: 130px;
  top: 52%;
  position: fixed;
}

nav ul li a
{
  float: left;
  text-decoration: none;
}
nav ul li a span
{
  color: #fff;
  font-size: 22px;
  background: #000;
  width: 130px;
  display: block;
  text-align: right;
  margin-top: 1px;
  padding: 4px 15px 0 0;
}

nav ul li a.active > span,
nav ul li a:hover > span
{
  margin-left: 40px;
}

nav ul li a.active > span strong
{
  font-family: MyriadProCondBold;
}

section
{
  margin: 0 auto 40px;
  width: 60%;
  padding-left: 100px;
}

section article
{
  overflow: hidden;
  padding-bottom: 20px;
  margin-bottom: 50px;
  border-bottom: 1px solid #e7e7e7;
}

section article aside
{
  float: left;
}

section article aside span
{
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform: rotate(90deg);
  color: #727272;
  display: block;
  white-space: nowrap;
  width: 20px;
  height: 20px;
  float: left;
}

section article aside time
{
  background: #e7e7e7;
  color: #fff;
  width: 50px;
  height: 140px;
  display: block;
  text-align: center;
  float: left;
  font-size: 32px;
  line-height: 6em;
  padding: 20px 0;
}

section article aside time:first-line
{
  line-height: 1em;
}

section article header
{
  font-size: 38px;
}

section article header a
{
 text-decoration: none;
 color: #000;
}

section article p.tags
{
  margin-bottom: 30px;
}

section article p.tags a
{
  color: #b5b5b5;
  text-transform: uppercase;
  text-decoration: none;
}

section article .content
{
  width: 90%;
  float: left;
}

section article p
{
  font-size: 14px;
  text-align: justify;
  font-family: MyriadPro;
  line-height: 1.5em;
}

section article p,
section article header
{
  float: left;
  width: 88%;
  margin-left: 4%;
}

section article footer
{
  width: 90%;
  float: right;
  margin-top: 20px;
}

section article footer a
{
  font-family: MyriadPro;
  color: #000;
  font-size: 14px;
  margin-top: 20px;
}

section #pagination
{
  text-align: center;
}

section #pagination ul
{
  list-style: none;
}

section #pagination ul li
{
  display: inline-block;
}

section #pagination ul li a
{
  color: #727272;
  font-family: MyriadPro;
  text-decoration: none;
  padding: 0px 2px;
  line-height: 23px;
  display: block;
}

section #pagination ul li a:hover
{
  color: #000;
}

section #pagination ul li a.current
{
  color: #fff;
  background: #000;
  width: 21px;
  height: 21px;
}

section #pagination ul li a.prev,
section #pagination ul li a.next
{
  color: #000;
  margin: 0 10px;
}

aside#right
{
  right: 20px;
  position: absolute;
  top: 230px;
}

aside#right h3
{
  font-size: 24px;
  text-align: right;
}

aside#right ul
{
  list-style: none;
  margin-top: 20px;
  text-align: right;
  margin-bottom: 40px;
}

aside#right ul li a
{
  color: #727272;
  text-decoration: none;
  font-size: 24px;
}

aside#right ul li a.current
{
  font-family: MyriadProCondBold;
}

aside#right p
{
  font-size: 17px;
  text-align: right;
  width: 206px;
  font-style: italic;
  font-family: MyriadPro;
  margin-top: 20px;
  margin-bottom: 10px;
}


aside#right strong
{
  font-size: 21px;
  color: #727272;
  float: right;
}

footer
{
  width: 60%;
  margin: 120px auto 0;
  position: relative
}

footer #copy
{
  float: right;
  margin-top: 30px;
  margin-right: 60px;
  right: 0;
  bottom: 0;
}

footer #copy p
{
  text-align: right;
  color: #b1b1b1;
  font-size: 18px;
}

footer #copy p strong
{
  font-family: MyriadProCondBold;
}

footer a#up
{
  display: block;
  color: #fff;
  background: #000;
  width: 130px;
  height: 45px;
  line-height: 45px;
  text-decoration: none;
  text-align: center;
  position: absolute;
  right: -45px;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -o-transform: rotate(-90deg);
}

@media (min-width: 980px) and (max-width: 1250px) {
  section article p, section article header
  {
    width: 85%;
  }

  aside#right h3
  {
    font-size: 18px;
  }

  aside#right ul li a
  {
    font-size: 20px;
  }

  aside#right p
  {
    width: 160px;
    font-size: 14px;
  }

  aside#right strong
  {
    font-size: 16px;
  }
}

@media (min-width: 670px) and (max-width: 979px) {
  section {
    margin: 0;
    width: 70%;
    float: right;
  }

  section article p, section article header
  {
    width: 80%;
  }

  section article footer
  {
    width: 90%;
  }

  aside#right
  {
    position: relative;
    clear: both;
    right: 0;
    top: 0;
    overflow: hidden;
  }

  aside#right .box
  {
    float: right;
    width: 220px;
    margin-top: 30px;
    margin-right: 10px;
  }

  aside#right .box p
  {
    width: auto;
  }

  aside#right .box ul li
  {
    display: inline-block;
    margin-left: 5px;
  }

  footer
  {
    clear: both;
    margin: 30px auto 0;
  }

  footer a#up
  {
    width: 80px;
  }

  footer #copy
  {
    margin-right: 30px;
    margin-top: 17px;
  }
}

@media (max-width: 669px) {
  #logo
  {
    float: left;
    max-width: 110px;
    background-size: 100%;
    margin: 10px;
  }

  h1
  {
    float: right;
    font-size: 16px;
    margin-right: 1px;
  }

  nav
  {
    position: absolute;
    top: 20px;
    right: 0;
    width: auto;
  }

  nav ul li a.active > span,
  nav ul li a:hover > span
  {
    margin-left: -40px;
  }

  section
  {
    float: left;
    width: 100%;
    padding-left: 0;
  }

  section article footer
  {
    width: 80%;
  }

  section article footer a
  {
    font-size: 16px;
  }

  section article .content
  {
    width: 75%;
  }

  section article p
  {
    font-size: 16px;
    width: auto;
  }

  section article header
  {
    font-size: 30px;
    width: 75%;
  }

  aside#right
  {
    display: none;
  }

  footer a#up
  {
    width: 80px;
  }

  footer #copy
  {
    margin-right: 30px;
    margin-top: 17px;
  }

  footer
  {
    clear: both;
    margin: 0 auto;
  }
}
