<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZQKN7E9RJH"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZQKN7E9RJH');
  </script>
  <title>Jacek Brozek - personal website</title>
  <link href="https://fonts.googleapis.com/css?family=Chivo:300,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
</head>
<body>
  <div class="content">
    <div class="row">
      <div class="col about">
        <section>
          <main>
            <header>
              <h1>
                <a href="#">
                  <img src="images/logo.png">
                </a>
              </h1>
              <div class="avatar">
                <img src="images/me.png">
              </div>
            </header>
            <h2>
              Hello, I’m Jacek Brożek<br/>
              and I’m here to help you<br/>
              make better software
            </h2>
            <p>
              Experienced Solution Architect with a demonstrated history of working in the internet industry. Skilled in Object Oriented Design, Ruby, PostgreSQL, Node.js, React/Angular, and Enterprise Architecture. Also, helped many teams to scale up, build the culture and deliver great solutions on time.
            </p>
          </main>

          <footer>
            <div class="contact">
              <h3>Contact:</h3>
              <ul>
                <li>
                  hi@jacekbrozek.com
                </li>
                <li>
                  (+48) 695 962 791
                </li>
              </ul>
            </div>
            <div class="social">
              <h3>Find me here:</h3>
              <ul>
                <li>
                  <a href="https://twitter.com/jac33k">
                    <img src="images/twitter-icon.png">
                  </a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/jacekbrozek/">
                    <img src="images/linkedin-icon.png">
                  </a>
                </li>
                <li>
                  <a href="https://medium.com/@jac33k">
                    <img src="images/medium-icon.png">
                  </a>
                </li>
              </ul>
            </div>
          </footer>
        </section>
      </div>
      <div class="col scroll">
        <div class="tech shadow">
          <section>
            <header>
              <h2>Technologies  <br>I worked with</h2>
              <h4>More about me</h4>
            </header>
            <p>
              Passion to software development led me through a variaty of technologies.
            </p>
            <ul>
              <li>
                <a href="#">
                  <img src="images/tech-placeholder.png">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/tech-placeholder.png">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/tech-placeholder.png">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/tech-placeholder.png">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/tech-placeholder.png">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/tech-placeholder.png">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/tech-placeholder.png">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="images/tech-placeholder.png">
                </a>
              </li>
            </ul>
            <a class="scroll-link scroll-down" href="#" data-target="blog">
              <img src="images/scroll-down-icon.png">
              <span>Scroll down for more</span>
            </a>
          </div>
        </section>

        <div class="blog">
          <div class="wrapper">
            <h2 class="text-white">Articles I wrote</h2>
            <p>
              Some of my the most recent articles.
            </p>

            <section>
              <article data-href="https://medium.com/@jac33k/exercism-io-challenge-crystal-track-1c2d419b0eb0">
                <main>
                  <header>Exercism.io challenge — Crystal track</header>
                  <footer>10 min read • Technology</footer>
                </main>
                <aside>
                  <img src="images/arrow-icon.png"/>
                </aside>
              </article>
              <article data-href="https://medium.com/@jac33k/exercism-io-challenge-intro-to-polyglot-programming-e4913802b98a">
                <main>
                  <header>Exercism.io challenge — intro to polyglot programming</header>
                  <footer>4 min read • Technology</footer>
                </main>
                <aside>
                  <img src="images/arrow-icon.png"/>
                </aside>
              </article>
              <footer>
                <img src="images/arrow-icon.png"/>
                <a href="https://medium.com/@jac33k">View all Articles on Medium</a>
              </footer>
            </section>
            <footer>
              <img src="images/arrow-down-icon.png"/>
              <a class="scroll-link" data-target="speaking" href="#">Scroll down for more</a>
            </footer>
          </div>
        </div>

        <div class="speaking shadow">
          <div class="wrapper">
            <h2>Conferences I spoke at</h2>
            <ul>
              <li>
                <a href="https://krk-rb.pl/">
                  KRK.rb, Cracow, Poland, 2019
                </a>
              </li>
              <li>
                <a href="https://twitter.com/rubyunconf">
                  Ruby UnConference, London, UK, 2017
                </a>
              </li>
              <li>
                <a href="https://www.webit.org/festival/2016/">
                  Webit Festival, Sofia, Bulgaria, 2016
                </a>
              </li>
              <li>
                <a href="https://careercon.pl/en/konferencja/kariera-it-warszawa-17-10-2015">
                  KarieraIT, Warsaw, Poland, 2015
                </a>
              </li>
              <li>
                <a href="http://prug.pl">
                  Poznan Ruby Users Group, Poznan, Poland, 2013-present
                </a>
              </li>
            </ul>
            <a class="scroll-link scroll-up desktop" data-target="tech" href="#">
              <img src="images/scroll-up-icon.png">
              <span>Scroll to the top!</span>
            </a>

            <a class="scroll-link scroll-up mobile" data-target="about" href="#">
              <img src="images/scroll-up-icon.png">
              <span>Scroll to the top!</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    var scrollLinks = document.getElementsByClassName('scroll-link');
    for(link of scrollLinks) {
      link.addEventListener('click', (e) => {
        var element = e.currentTarget;
        var targetId = element.dataset.target;
        var targetElement = document.getElementsByClassName(targetId)[0];
        targetElement.scrollIntoView({behavior: 'smooth'});
        e.preventDefault();
      })
    }
  </script>

  <script type="text/javascript">
    var articles = document.getElementsByTagName('article');
    for(article of articles) {
      article.addEventListener('click', (e) => {
        location.href = article.dataset.href;
      })
    }
  </script>
</body>
</html>
